<!-- here goes the html code for our website
ejs is just html with embeded js (ejs) -->

</main>
<section>
    <!--Footer-->
    <footer id="footer">
    
      <p>© Copyright 2023</p>
    
    </footer>
  </section>
</body>
</html>