<!-- here goes the html code for our website
ejs is just html with embeded js (ejs) -->


<%- include("partials/header.ejs") %>


<section>
        <!-- here goes our code -->
</section>

<%- include("partials/footer.ejs") %>


